.name {
  font-size: 20px;
  text-transform: uppercase;
}

.list-group-item {
  background-color: #394857 !important;
  color: rgb(228, 226, 226) !important;
}

.list-group-item:first-child {
  background-color: #03080f !important;
  border: 2px solid #6a8197 !important;
  border-radius: 5px;
}

label {
   color: rgb(255, 255, 255)
}